{template "content","header"}
<div id="container">
	<!--侧边 开始 -->
	<div id="aside">
		<a id="logo" href="/"><h1>路凯Deluxe</h1></a>
		<div class="menu">
               {pc:content action="category" catid="12" num="25" siteid="$siteid" order="listorder ASC"}
		         <ul>
                         {loop $data $r}
                                <li><a href="{$r[url]}" {if $r[catid]==31}class="current"{/if}>{$r[catname]}</a></li>
                         {/loop}
	                  </ul>
                 {/pc}
		</div>
	</div>
	<!--侧边 结束 -->
	<!--主内容 开始 -->
	<div id="main">
         {template "content","middle"}
                 <div class="news">
                        <h4>新闻资讯</h4>
			<div class="content">
                        <ul class="news_list">
                                 {php $i=0;}
                                 {loop $datas $r}
                                 {php if($r[catid]==31){$i++;}}
                                  {if $r[catid]==31}
					<li><span>{date('Y-m-d H:i:s',$r['inputtime'])}</span><a href="{$r['url']}">{$r[title]}</a></li>
				  {/if} 
                                 {/loop}
                           </ul>
				{if empty($datas) or $i==0}<h2>未找到结果</h2>{/if}
			</div>
		</div>
	</div>
	<!--主内容 结束 -->
</div>
{template "content","footer"}